body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E2761; /* midnight blue */
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #C5001A; /* bright red */
}

/* CALCULATOR */

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
}
/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
    color: #408EC6; /* royal blue */
}

.credits {
    font-size: 18px;
}

.github-logo,
.top-logo {
    width: 30px;
    height: auto;
}

a {
    text-decoration: none;
}